.radio-player{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;

    button {
        background: transparent;
        border: none;
        cursor: pointer;
        // color: #2D1339;
        // color: #A876F4;
    }

    .thumnails{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
            margin-top: 20px;
            max-height: 150px;
            max-width: 150px;
        }
        margin-bottom: 30px;
    }

    .playing {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        p {
            margin: 5px 0px;
        }
    }
    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        &__button {
            display: flex;

            .button-play{
                color: #A876F4;
            }
        }
    }

    .playlist{
        border-radius: 20px 20px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
        max-height: 340px;
        background-color: #FFF2F0;

        .header-list {
            top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 15px;
            button {
                margin-bottom: 10px;
            }
            

        }

        .body-list {
            width: 100%;
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            
            &::-webkit-scrollbar {
                display: none;
            }
            ul>li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin: 10px;
                padding: 10px;
                border-radius: 5px;
                background-color: #5c1597;
                color: #FFF2F0;
            }
        }

        


    }
}